* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body.default-theme {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f5f5;
  --main-text-color: #000000;
  --secondary-text-color: #757575;

  --shadow-color: #888888;
  --bg-navbar: #4a69bd;
  --bg-wave: #0099ff;

  background: linear-gradient(180deg, #eef9f3 0%, #eef9f3 70%, #0099ff 70%, #0099ff 100%);
  transition: 0.25s;
}

body.dark-theme {
  --main-bg-color: #111013;
  --secondary-bg-color: #212121;
  --main-text-color: #ffffff;
  --secondary-text-color: #fafafa;

  --shadow-color: #343a40;
  --bg-navbar: #0c2461;
  --bg-wave: #0a3d62;

  background: linear-gradient(180deg, #0b0913 0%, #0b0913 70%, #0a3d62 70%, #0a3d62 100%);
  transition: 0.25s;
}

/* Wave Background */

svg#wave-background {
  position: absolute;
  left: 0;
  bottom: 0;
}

svg#wave-background path {
  stroke: none;
  fill: var(--bg-wave); 
  transform: scale(1.1);
}

/* Navbar */

nav.navbar {
	width: 100vw;
  background-color: var(--bg-navbar);
}

nav.navbar a.navbar-brand img {
	width: 35px;
	height: 30px;
}

nav.navbar a.navbar-brand strong {
	color: #ffffff;
}

nav.navbar ul.navbar-nav a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 15px;
}

nav.navbar ul.navbar-nav.ml-auto a {
  color: #ffffff;
}

/* Icon Theme Toggler */

div#theme-toggler {
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: #303f9f;
  border-radius: 50px;
  position: fixed;
  bottom: 60px;
  right: 25px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

div#theme-toggler i {
  margin-top: 5px;
}

/* Footer */

div#footer {
  width: 100%;
  height: 3rem;
  background-color: var(--bg-navbar);
  color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
}

div#footer span i.fa {
  padding: 5px 5px;
  margin: 0 5px;
  background-color: var(--secondary-bg-color);
  border-radius: 50px;
  font-size: 10px;
  color: var(--main-text-color);
}

/* Responsive */

@media screen and (max-width: 1153px) {
  svg#wave-background {
    margin-left: 0;
    margin-bottom: 0;
  }

  svg#wave-background path {
    stroke: none; 
    transform: scale(1.1);
  }
}

@media screen and (max-width: 953px) {
  svg#wave-background {
    margin-left: 0;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 800px) {
  svg#wave-background {
    margin-left: 0;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  nav.navbar ul#menu a {
    margin: 7.5px 0;
  }

  nav.navbar ul.navbar-nav.ml-auto a {
    margin: 0 0;
  }

  main {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 681px) {
  svg#wave-background {
    margin-left: 0;
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 556px) {
  svg#wave-background {
    margin-left: 0;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 437px) {
  svg#wave-background {
    margin-left: 0;
    margin-bottom: 120px;
  }
}